{% extends 'main_page/base.html' %}
{% load static %}
{% block header %}
{% with cards|first as head %}
<div class="header-news row">
  <div class="col-md-8">  
    <p><img src="/media/{{ head.image }}" class="img-responsive"></p>
  </div>
  <div class="col-md-4 header-text">
    <p class="tag visible-xs">{{ head.category.title }}</p>
    <h1 class="hidden-xs"><a href="{{ head.url }}">{{ head.title }}</a></h1>
    <h4 class="visible-xs">{{ head.title }}</h4>
    <p>{{ head.preview }}</p>
    {% if head.has_button %}
	    <a href="{{ head.button_url }}" class="btn btn-primary btn-square hidden-xs">{{ head.button_text }}</a>
	  {% endif %}
    <p class="date visible-xs">3 дня назад</p>
  </div>
  <div class="col-md-12">
    <hr class="hr-divider hidden-xs">
  </div>
</div>
{% endwith %}
{% endblock %}
{% block landing %}
{% include 'main_page/landing.html' %}
{% endblock %}
